:root {
    --color1: #000000;
    --color2: #150f16;
    --color3: #4c595b;
    --color4: #8f9ea9;
    --color5: #d6d6e7;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

div{
   height: 100%;
}

html, body{
    height: 100%;
}





